<p class="p-2">Le patinage artistique devient une distraction pour l'aristocratie européenne vers le XIXème siècle. Les personnes dites "nobles" aimaient à se promener sur les lacs gelés, les canaux de Versailles ou même l'étang de la glacière de Gentilly situé en Ile de France.

    Ce sport a connu une première révolution en 1850 grâce à Edward Bushnell qui invente les premiers patins à lame d'acier. En 1860, Jackson Haines, un maître de ballet américain, intègre des éléments de danse classique dans ce sport. L'aristocratie est conquise par le patinage.
    
    Lors des premières compétitions de vitesse en 1879, seuls les hommes y participent car les femmes en sont exclues. En revanche, le patinage artistique reste pendant longtemps la seule compétition autorisée aux femmes.
    
    Sous la pression des scandinaves, Pierre de Coubertin accepte l'intégration du patinage artistique dans les disciplines olympiques. C'est ainsi que les premières épreuves se déroulent en 1908 à Londres.
    
    
    Premiers patins hollandais
    Les premiers patins à glace sont constitués d'os, de bœuf ou d'autres animaux, en lame mince et polie. Ils sont utilisés comme moyen de locomotion. Les premières lames en acier font leur apparition et permettent au patinage de devenir un véritable divertissement, comme en témoigne la peinture hollandaise.</p>
