<nav>
    <div class="row bg-info">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2"></div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <h2 class="text-white mt-2">VAYAGEBLOG</h2>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mt-2">
        <h3 class=" text-white">Jeux de mémoire</h3>
      </div>
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">

      </div>
      
    </div>
  </nav>

<div class="row m-5">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 "></div>
  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 ">
    <table>
      <tr>
          <td (click)="inverserCard1()"><img [src]="imgDefaul1" height="200" width="200" class="rounded float-start img-thumbnail" alt="dos"></td>
          <td (click)="inverserCard2()"><img [src]="imgDefaul2" height="200" width="200" class="rounded float-end img-thumbnail" alt="dos"></td>
      </tr>
      <tr>
          <td (click)="inverserCard3()"><img [src]="imgDefaul3" height="200" width="200" class="rounded float-start img-thumbnail" alt="dos"></td>
          <td (click)="inverserCard4()"><img [src]="imgDefaul4" height="200" width="200" class="rounded float-end img-thumbnail" alt="dos"></td>
      </tr>
  </table>
  </div>
  
   <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
     <button class="btn btn-info" (click)="recommencer()">Recommencer</button>
   </div>
 
   <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2" [ngClass]="{'text-danger':isBravo=='Bravo!!!'}">{{isBravo}}</div>
</div>


